
<template>

  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">NavBar</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
          <b-nav-item tag="router-link" :to="{ path: '/' }">Link 1</b-nav-item>
        <b-nav-item tag="router-link" :to="{ path: '/about' }">Link 2</b-nav-item>
    
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <b-nav-item text="" right>
 
        </b-nav-item>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>User</em>
          </template>
          <b-dropdown-item tag="router-link" :to="{path:'/login'}">Login</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
          <b-nav-item text="" right></b-nav-item> 
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>


export default {
  name:'Header',
 components:{
   
 }
}
</script>