<template>
  <div class="home">
    <Parallax />
<Best />
  </div>

</template>

<script>
// @ is an alias to /src
import Parallax from '../components/Home/Parallax'
import Best from '../components/Home/Best'
export default {
  name: 'Home',
  components: {
    Parallax,Best
  },
  data() {
    return{

    } 
	
	}
}
</script>
<style scoped>


</style>