<template>
<div>
  
    <b-container fluid class="p-4 bg-dark">
  <b-row  >
    <b-col class="col-3" v-for="products in paroduct" :key="products.id">
      <b-img thumbnail fluid :src="apiUrl+products.image" alt="Image 1"></b-img>
         <b-card-text class="textcolor">
           <strong>{{products.name}}</strong>
           <br>
           {{products.description}}
          </b-card-text>
    </b-col>
    
  </b-row>
</b-container>
</div>
</template>
<script>



import axios from 'axios'

export default {
  name:'Best',
  data(){
      return{
          apiUrl:'http://danisoft.cf/',
          paroduct:[]
      }
  },
 mounted(){
     axios.get(this.apiUrl+'api/v1/index')
.then(res => this.paroduct=res.data.product)
.catch(error=>console.log(error));


 }

}
</script>
<style scoped>
.textcolor{
    color: white!important;
}
</style>